@CHARSET "UTF-8";

html {
	font-family: Droid Sans Fallback;
	background-color: #F2F2F2;
}

div.header {
    overflow: hidden;
    height: 60px;
    background-color: #00AABD;
    border-radius: 4px;
    box-shadow:0 8px 16px 0 rgba(0,0,0,0.2);
}

div.header button {
    background-color: #00AABD;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    height: 50px;
    width: 10%;
    min-width: 135px;
    border-radius: 4px;
    color: white;
    font-size: 15px;
    margin-top: 5px;
    margin-right: 3px;
    margin-left: 3px;
}

div.header button:hover {
    background-color: #009499;
}

div.header button.active {
    background-color: #00AAB0;
}

.welecomContainer {
	text-align: right; 
	margin: 10px;
	color: white;
}

.logoutContainer {
	margin-top: 10px;
	text-align: right;
	margin-right: 20px;
	font-size: 13px;
}